* {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
}

.title {
  margin-bottom: 40px;
}

.body {
  margin-bottom: 50px;
}

button {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

h2 {
  padding-bottom: 20px;
}

p {
  margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
}

.grid {
  display: inline-flex;
}

.featureList {
  max-width: 50%;
}
