select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}

@media screen and (max-width: 600px) {
  .expenses-form.expenses-form.expenses-form {
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }

  .expenses-table.expenses-table.expenses-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
  }
  .no-expenses {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .expenses-form.expenses-form.expenses-form {
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }

  .expenses-table.expenses-table.expenses-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
  }

  .no-expenses {
    padding-bottom: 20rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .expenses-form.expenses-form.expenses-form {
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
  }

  .expenses-table.expenses-table.expenses-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37rem;
  }

  .no-expenses {
    padding-bottom: 37rem;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1200px) {
  .expenses-form.expenses-form.expenses-form {
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }

  .expenses-table.expenses-table.expenses-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30rem;
  }

  .no-expenses {
    padding-bottom: 30rem;
  }
}

@media screen and (max-width: 2400px) and (min-width: 1800px) {
  .expenses-form.expenses-form.expenses-form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }

  .expenses-table.expenses-table.expenses-table {
    margin-top: 1.15rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50rem;
  }

  .no-expenses {
    padding-bottom: 50rem;
  }
}

@media screen and (max-width: 3600px) and (min-width: 2400px) {
  .expenses-form.expenses-form.expenses-form {
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.5rem;
    padding-bottom: 10rem;
  }

  .expenses-table.expenses-table.expenses-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70rem;
  }

  .no-expenses {
    padding-bottom: 70rem;
  }
}
