.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: "Caladea", serif;
}

.header .navbar-dark .navbar-nav .nav-link {
  color: white;
  text-emphasis: bold;
}

.brandImage {
  width: 50px;
}
