.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.header .navbar-dark .navbar-nav .nav-link {
  color: white;
  text-emphasis: bold;
  font-weight: 600;
}

.brandImage {
  width: 50px;
}

.headerButton {
  margin-left: 20px;
}

.header .navbar-dark .navbar-text {
  color: white;
}

.bg-blue {
  background-color: #8ec6c5;
}
