.footer {
  text-align: center;
  color: white;
  background-color: #61a946;
  margin-top: 20px;
  margin-bottom: 0;
}

.footerText {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Caladea", serif;
}
