@media screen and (max-width: 600px) {
  .login {
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
  }
  .form.form.form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .field.field.field {
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .login {
    width: 40rem;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1200px) {
  .login {
    width: 60rem;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 2400px) and (min-width: 1800px) {
  .login {
    width: 60rem;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 3600px) and (min-width: 2400px) {
  .login {
    width: 60rem;
    padding-top: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18rem;
  }
}
